*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #e0f7fa;
}

.container {
  padding: 20px calc(50% - 400px);
}

@media (max-width: 820px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

.puzzle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  border: 2px solid #212121;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 767px) {
  .puzzle {
    font-size: 20px;
    font-weight: 500;
    border-width: 1px;
  }
}

.puzzle.null {
  opacity: 0;
  cursor: default;
}

.puzzle_wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: calc(100% - 10px);
  background-color: #cbcbcb;
  border: 5px solid #808080;
}

.popup {
  position: fixed;
  top: 0;
  left: -9999px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 5;
}

.popup.active {
  left: 0;
  opacity: 1;
}

.popup_block {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 400px;
  max-width: 95%;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.popup_block.active {
  display: block;
}

.popup_text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.btn {
  width: 200px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #4caf50;
  border-radius: 3px;
  border: 2px solid #2d682f;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #2d682f;
}

.setting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.setting .size_board {
  width: 100%;
  margin-bottom: 20px;
}

.setting select {
  width: 200px;
  height: 26px;
}

.setting .stopwatch, .setting .moves_block {
  font-size: 24px;
}

.setting_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.popup_result_list {
  margin-bottom: 20px;
}

.popup_result_list_item {
  display: flex;
  margin-bottom: 10px;
}

.popup_result_list_item.title {
  font-weight: 500;
}

.popup_result_list_item span {
  width: calc(100% / 3);
  text-align: center;
}

.popup_result_list_item span:first-child {
  text-align: left;
}

.popup_result_list_item span:last-child {
  text-align: right;
}
